#elipsa {
  shape-outside: ellipse(40% 50% at left);
  background: #eda04d;
  height: 1000px;
  width: 1000px;
  border-radius: 50%;
  position: absolute;
  top: -600px;
  right: -270px;
  z-index: -1;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#kolo {
  border: 1px black dashed;
  height: 320px;
  width: 320px;
  border-radius: 50%;
  position: absolute;
  right: 20%;
  z-index: 1000;
  top: 37%;
}

h1 {
  display: block;
  color: #eda04d;
  width: 36%;
  font-size: 57px;
  position: absolute;
  bottom: 65%;
  left: 0.4%;
  text-align: center;
  line-height: 40px;
  z-index: 10000;
}

section header {
  display: block;
  background-color: #eda04d;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
section header p {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  height: 40px;
}

section header p a {
  text-decoration: none;
  color: black;
}

.plotki {
  width: 28%;
  position: absolute;
  top: 33%;
  left: 87px;
  font-size: 22px;
}

.grupa{
  border-radius: 50%;
  position: absolute;
  top: 63%;
  right: 45%;
}
.kiara {
  border-radius: 50%;
  position: absolute;
  top: 28%;
  right: 61%;
  z-index: 10000;
}
.cleo {
  border-radius: 50%;
  position: absolute;
  top: 128%;
  right: 59%;
  z-index: 10000;
}
.jj {
  border-radius: 50%;
  position: absolute;
  top: 95%;
  right: 16%;
  z-index: 10000;
}
.poge {
  border-radius: 50%;
  position: absolute;
  top: 95%;
  right: 111%;
  z-index: 10000;
}
.sarah{
  border-radius: 50%;
  position: absolute;
  top: 46%;
  right: 19%;
  z-index: 10000;
}
.johnb {
  border-radius: 50%;
  position: absolute;
  top: 46%;
  right: 102%;
  z-index: 10000;
}
#zdjecia{
    width: 300px;
    height: 300px;
    position: relative;
    float: right;
}